In [53]:
import pandas as pd
import numpy as np

# data 시각화
import matplotlib
import matplotlib.pyplot as plt

# Korean pont
matplotlib.rc('font',family = 'NanumGothicCoding')

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from statsmodels.api import Logit
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [54]:
df_raw = pd.read_csv('./data/통신고객이탈.csv')
df_raw.head()

,CHURN,CUSTOMER_ID,GENDER,AGE,CHARGE_TYPE,HANDSET,USAGE_BAND,SERVICE_DURATION,DROPPED_CALLS,PEAK_CALLS_NO,PEAK_CALLS_TIME,WEEKEND_CALLS_NO,WEEKEND_CALLS_TIME,TOTAL_CALLS_NO,TOTAL_CALLS_TIME
0,Active,K102990,F,31,CAT 100,ASAD170,Med,33.33,6,218,379.8,9,21.6,366,632.4
1,Active,K103280,M,27,CAT 100,S50,Med,30.87,10,373,656.4,11,28.0,411,810.4
2,Active,K103660,M,27,CAT 100,ASAD170,Med,49.40,11,260,582.0,0,0.0,265,614.1
3,Active,K103730,M,61,CAT 100,ASAD170,Med,48.60,1,294,661.8,14,101.5,326,844.0
4,Active,K104560,F,52,CAT 100,S50,Med,56.03,0,221,555.6,7,25.0,274,673.0

In [55]:
df_raw.isnull().sum(axis = 0)

CHURN                 0
CUSTOMER_ID           0
GENDER                0
AGE                   0
CHARGE_TYPE           0
HANDSET               0
USAGE_BAND            0
SERVICE_DURATION      0
DROPPED_CALLS         0
PEAK_CALLS_NO         0
PEAK_CALLS_TIME       0
WEEKEND_CALLS_NO      0
WEEKEND_CALLS_TIME    0
TOTAL_CALLS_NO        0
TOTAL_CALLS_TIME      0
dtype: int64

In [56]:
df_train, df_test = train_test_split(df_raw,
                                    test_size = 0.3,
                                    random_state = 1234)

print('train data size : {}'.format(df_train.shape))
print('test data size : {}'.format(df_test.shape))

train data size : (651, 15)
test data size : (279, 15)

In [57]:
df_raw.head(30)

,CHURN,CUSTOMER_ID,GENDER,AGE,CHARGE_TYPE,HANDSET,USAGE_BAND,SERVICE_DURATION,DROPPED_CALLS,PEAK_CALLS_NO,PEAK_CALLS_TIME,WEEKEND_CALLS_NO,WEEKEND_CALLS_TIME,TOTAL_CALLS_NO,TOTAL_CALLS_TIME
0,Active,K102990,F,31,CAT 100,ASAD170,Med,33.33,6,218,379.8,9,21.6,366,632.4
1,Active,K103280,M,27,CAT 100,S50,Med,30.87,10,373,656.4,11,28.0,411,810.4
2,Active,K103660,M,27,CAT 100,ASAD170,Med,49.40,11,260,582.0,0,0.0,265,614.1
3,Active,K103730,M,61,CAT 100,ASAD170,Med,48.60,1,294,661.8,14,101.5,326,844.0
4,Active,K104560,F,52,CAT 100,S50,Med,56.03,0,221,555.6,7,25.0,274,673.0
5,Active,K105530,M,51,CAT 100,S80,Med,49.43,3,289,486.6,1,31.8,427,903.3
6,Active,K106210,F,30,CAT 100,ASAD170,Med,32.30,6,427,729.6,12,52.8,490,907.2
7,Active,K106350,M,36,CAT 100,ASAD170,Med,54.87,2,522,801.6,0,0.0,558,884.7
8,Active,K106570,F,43,CAT 100,S50,Med,11.23,0,156,516.6,8,84.0,362,987.6
9,Active,K107570,F,50,CAT 100,ASAD170,Med,49.97,0,136,466.2,13,31.8,186,632.7
10,Active,K107660,M,52,CAT 100,S80,Med,11.00,0,81,682.2,20,58.8,170,943.5
11,Active,K107820,F,28,CAT 100,S50,Med,13.50,0,212,733.2,0,0.0,226,798.3
12,Active,K109810,F,29,CAT 100,S80,Med,51.77,0,114,595.8,0,0.0,150,720.9
13,Active,K110530,M,52,CAT 100,S80,Med,54.70,2,11,672.0,12,34.2,23,706.2
14,Active,K110630,F,37,CAT 100,S80,Med,50.83,2,12,579.6,22,42.0,54,869.1
15,Active,K110700,M,46,CAT 100,S50,Med,29.23,0,3,719.4,13,20.5,106,933.7
16,Active,K110930,M,60,CAT 200,S50,MedHigh,57.53,1,543,933.6,11,46.8,686,1445.4
17,Active,K110950,F,53,CAT 200,S50,High,10.00,0,1168,2376.0,11,49.8,1275,2844.0
18,Active,K111100,F,46,CAT 200,ASAD170,MedHigh,42.80,8,604,1233.0,26,40.8,655,1446.9
19,Active,K111540,F,46,CAT 200,S50,MedHigh,57.10,0,990,1626.0,5,49.8,1050,1844.7
20,Active,K111680,F,38,CAT 200,S80,High,51.07,0,1179,1992.6,12,41.4,1203,2055.3
21,Active,K111690,M,61,CAT 200,ASAD170,MedHigh,10.97,5,789,1545.6,34,119.4,900,1812.6
22,Active,K111750,M,46,CAT 200,S50,MedHigh,54.87,0,998,1578.0,37,65.4,1071,1746.9
23,Active,K111770,M,27,CAT 200,S50,High,23.33,1,983,1613.4,4,82.8,1116,2106.0
24,Active,K111920,M,32,CAT 200,S50,MedHigh,36.07,1,835,1443.0,1,3.0,1111,1893.0
25,Active,K112090,F,26,CAT 200,ASAD170,MedHigh,39.27,0,857,1481.4,10,38.0,880,1555.1
26,Active,K112400,M,39,CAT 200,S50,MedHigh,38.67,1,635,1315.8,3,56.4,652,1420.5
27,Active,K112700,F,36,CAT 200,S80,High,29.57,3,573,1625.4,5,20.4,695,2084.4
28,Active,K112820,M,29,CAT 200,S80,MedHigh,16.63,9,502,1170.6,0,0.0,580,1547.1
29,Active,K113150,M,29,CAT 200,S80,MedHigh,50.97,0,436,793.8,1,23.4,696,1362.6

In [51]:
obj_cols = df_raw.select_dtypes('object')
obj_cols.head()

  CUSTOMER_ID GENDER CHARGE_TYPE  HANDSET USAGE_BAND
0     K102990      F     CAT 100  ASAD170        Med
1     K103280      M     CAT 100      S50        Med
2     K103660      M     CAT 100  ASAD170        Med
3     K103730      M     CAT 100  ASAD170        Med
4     K104560      F     CAT 100      S50        Med

In [26]:
obj_cols = df_raw.select_dtypes('object').columns
obj_cols

Index(['CHURN', 'CUSTOMER_ID', 'GENDER', 'CHARGE_TYPE', 'HANDSET',
       'USAGE_BAND'],
      dtype='object')

In [27]:
for col in obj_cols:
    _n = len(df_raw[col].value_counts())
    print(col, ' : ', str(_n))

CHURN  :  2
CUSTOMER_ID  :  930
GENDER  :  2
CHARGE_TYPE  :  5
HANDSET  :  11
USAGE_BAND  :  6

In [37]:
df_raw['CHURN'] = np.where(df_raw['CHURN'] == "Active", 0, 1)
df_raw.head()

,CHURN,CUSTOMER_ID,GENDER,AGE,CHARGE_TYPE,HANDSET,USAGE_BAND,SERVICE_DURATION,DROPPED_CALLS,PEAK_CALLS_NO,PEAK_CALLS_TIME,WEEKEND_CALLS_NO,WEEKEND_CALLS_TIME,TOTAL_CALLS_NO,TOTAL_CALLS_TIME
0,0,K102990,F,31,CAT 100,ASAD170,Med,33.33,6,218,379.8,9,21.6,366,632.4
1,0,K103280,M,27,CAT 100,S50,Med,30.87,10,373,656.4,11,28.0,411,810.4
2,0,K103660,M,27,CAT 100,ASAD170,Med,49.40,11,260,582.0,0,0.0,265,614.1
3,0,K103730,M,61,CAT 100,ASAD170,Med,48.60,1,294,661.8,14,101.5,326,844.0
4,0,K104560,F,52,CAT 100,S50,Med,56.03,0,221,555.6,7,25.0,274,673.0

In [46]:
len(df_train)

651

In [42]:
df_train.drop('CUSTOMER_ID', axis=1, inplace=True)

In [48]:
df_train['CHURN'] = np.where(df_train['CHURN'] == 'Active', 0, 1)

In [49]:
log_model = Logit.from_formula("""CHURN ~ C(GENDER) + AGE + C(CHARGE_TYPE) + C(HANDSET) + C(USAGE_BAND) + SERVICE_DURATION + DROPPED_CALLS + PEAK_CALLS_NO + PEAK_CALLS_TIME + WEEKEND_CALLS_NO + WEEKEND_CALLS_TIME + TOTAL_CALLS_NO + TOTAL_CALLS_TIME""", df_train)

log_result = log_model.fit()
print(log_result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.253230
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                  CHURN   No. Observations:                  651
Model:                          Logit   Df Residuals:                      621
Method:                           MLE   Df Model:                           29
Date:                Fri, 03 May 2019   Pseudo R-squ.:                  0.5059
Time:                        14:55:36   Log-Likelihood:                -164.85
converged:                      False   LL-Null:                       -333.64
                                        LLR p-value:                 2.736e-54
==============================================================================================
                                 coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                    -24.1056   2065.436     -0.012      0.991   -4072.286    4024.075
C(GENDER)[T.M]                -0.4510      0.315     -1.433      0.152      -1.068       0.166
C(CHARGE_TYPE)[T.CAT 200]     -1.0671      0.640     -1.668      0.095      -2.321       0.187
C(CHARGE_TYPE)[T.CAT 50]      -1.6795      0.897     -1.873      0.061      -3.437       0.078
C(CHARGE_TYPE)[T.Play 100]     1.3482      0.725      1.860      0.063      -0.073       2.769
C(CHARGE_TYPE)[T.Play 300]    -0.9498      0.822     -1.156      0.248      -2.560       0.660
C(HANDSET)[T.ASAD90]          22.5142   2065.435      0.011      0.991   -4025.664    4070.692
C(HANDSET)[T.BS110]           18.1048   2065.435      0.009      0.993   -4030.073    4066.283
C(HANDSET)[T.BS210]           15.6798   2065.435      0.008      0.994   -4032.498    4063.858
C(HANDSET)[T.CAS30]           21.3585   2065.435      0.010      0.992   -4026.820    4069.537
C(HANDSET)[T.CAS60]          -35.9285   3.55e+11  -1.01e-10      1.000   -6.96e+11    6.96e+11
C(HANDSET)[T.S50]             18.5695   2065.435      0.009      0.993   -4029.608    4066.747
C(HANDSET)[T.S80]             17.3163   2065.435      0.008      0.993   -4030.862    4065.494
C(HANDSET)[T.SOP10]           21.2285   2065.435      0.010      0.992   -4026.950    4069.407
C(HANDSET)[T.SOP20]           50.5815   2.74e+06   1.85e-05      1.000   -5.37e+06    5.37e+06
C(HANDSET)[T.WC95]           -17.8978    1.6e+07  -1.12e-06      1.000   -3.14e+07    3.14e+07
C(USAGE_BAND)[T.Low]           6.3481      2.240      2.834      0.005       1.958      10.738
C(USAGE_BAND)[T.Med]           3.6729      1.415      2.595      0.009       0.899       6.447
C(USAGE_BAND)[T.MedHigh]       2.0429      0.991      2.061      0.039       0.100       3.985
C(USAGE_BAND)[T.MedLow]        5.8815      1.779      3.305      0.001       2.394       9.369
C(USAGE_BAND)[T.None]        -13.4229   1.54e+04     -0.001      0.999   -3.02e+04    3.02e+04
AGE                           -0.0215      0.011     -1.878      0.060      -0.044       0.001
SERVICE_DURATION              -0.0303      0.011     -2.832      0.005      -0.051      -0.009
DROPPED_CALLS                  0.1369      0.039      3.465      0.001       0.059       0.214
PEAK_CALLS_NO                 -0.0012      0.003     -0.465      0.642      -0.006       0.004
PEAK_CALLS_TIME                0.0024      0.002      1.548      0.122      -0.001       0.005
WEEKEND_CALLS_NO              -0.0054      0.013     -0.406      0.685      -0.031       0.021
WEEKEND_CALLS_TIME             0.0045      0.006      0.776      0.438      -0.007       0.016
TOTAL_CALLS_NO                 0.0011      0.002      0.435      0.664      -0.004       0.006
TOTAL_CALLS_TIME               0.0008      0.002      0.534      0.593      -0.002       0.004
==============================================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.