In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt #Visulization
from matplotlib import pyplot

matplotlib.rc('font',family = 'NanumGothicCoding')


from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection  import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error


from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.tree import export_graphviz
import graphviz

import statsmodels.formula.api as smf

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

###
from pandas import set_option
from scipy import stats

In [3]:
df_raw = pd.read_csv("./data/SCALE불량.csv", encoding = '949')
df_raw.head()

,PLATE_NO,ROLLING_DATE,SCALE,SPEC,STEEL_KIND,PT_THK,PT_WDTH,PT_LTH,PT_WGT,FUR_NO,...,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,FUR_EXTEMP,ROLLING_TEMP_T5,HSB,ROLLING_DESCALING,WORK_GR
0,PB562774,2008-08-01:00:00:15,양품,AB/EH32-TM,T1,32.25,3707,15109,14180,1호기,...,1144,116,1133,59,282,1133,934,적용,8,2조
1,PB562775,2008-08-01:00:00:16,양품,AB/EH32-TM,T1,32.25,3707,15109,14180,1호기,...,1144,122,1135,53,283,1135,937,적용,8,2조
2,PB562776,2008-08-01:00:00:59,양품,NV-E36-TM,T8,33.27,3619,19181,18130,2호기,...,1129,116,1121,55,282,1121,889,적용,8,3조
3,PB562777,2008-08-01:00:01:24,양품,NV-E36-TM,T8,33.27,3619,19181,18130,2호기,...,1152,125,1127,68,316,1127,885,적용,8,3조
4,PB562778,2008-08-01:00:01:44,양품,BV-EH36-TM,T8,38.33,3098,13334,12430,3호기,...,1140,134,1128,48,314,1128,873,적용,8,1조

In [4]:
df_raw.shape

(720, 21)

In [5]:
df_raw.dtypes

PLATE_NO              object
ROLLING_DATE          object
SCALE                 object
SPEC                  object
STEEL_KIND            object
PT_THK               float64
PT_WDTH                int64
PT_LTH                 int64
PT_WGT                 int64
FUR_NO                object
FUR_NO_ROW             int64
FUR_HZ_TEMP            int64
FUR_HZ_TIME            int64
FUR_SZ_TEMP            int64
FUR_SZ_TIME            int64
FUR_TIME               int64
FUR_EXTEMP             int64
ROLLING_TEMP_T5        int64
HSB                   object
ROLLING_DESCALING      int64
WORK_GR               object
dtype: object

In [6]:
df_raw.isnull().sum()

PLATE_NO             0
ROLLING_DATE         0
SCALE                0
SPEC                 0
STEEL_KIND           0
PT_THK               0
PT_WDTH              0
PT_LTH               0
PT_WGT               0
FUR_NO               0
FUR_NO_ROW           0
FUR_HZ_TEMP          0
FUR_HZ_TIME          0
FUR_SZ_TEMP          0
FUR_SZ_TIME          0
FUR_TIME             0
FUR_EXTEMP           0
ROLLING_TEMP_T5      0
HSB                  0
ROLLING_DESCALING    0
WORK_GR              0
dtype: int64

In [7]:
df_raw['SCALE'].describe()

count     720
unique      2
top        양품
freq      489
Name: SCALE, dtype: object

In [8]:
df_raw['SCALE'].count()

720

In [9]:
df_raw.describe()

,PT_THK,PT_WDTH,PT_LTH,PT_WGT,FUR_NO_ROW,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,FUR_EXTEMP,ROLLING_TEMP_T5,ROLLING_DESCALING
count,720.000000,720.000000,720.000000,720.000000,720.000000,720.000000,720.000000,720.000000,720.000000,720.000000,720.000000,720.000000,720.000000
mean,29.267857,2807.127778,34323.269444,41481.777778,1.497222,1155.338889,88.527778,1149.666667,78.802778,300.563889,1149.666667,933.920833,8.319444
std,19.152651,517.839690,13828.434837,24751.322015,0.500340,20.866398,37.660799,17.571788,36.421004,45.390303,17.571788,107.863887,1.623252
min,12.030000,1800.000000,7893.000000,7820.000000,1.000000,1103.000000,43.000000,1113.000000,35.000000,221.000000,1113.000000,0.000000,5.000000
25%,16.090000,2466.000000,22663.000000,17757.500000,1.000000,1139.000000,65.000000,1132.000000,57.750000,257.000000,1132.000000,889.750000,6.000000
50%,20.130000,2725.000000,37380.000000,36120.000000,1.000000,1158.000000,75.000000,1155.000000,67.500000,304.000000,1155.000000,951.000000,8.000000
75%,40.000000,3125.000000,43735.000000,61120.000000,2.000000,1171.000000,101.000000,1164.000000,86.000000,342.000000,1164.000000,994.250000,10.000000
max,100.340000,4575.000000,54917.000000,115080.000000,2.000000,1206.000000,312.000000,1185.000000,294.000000,398.000000,1185.000000,1078.000000,10.000000

In [10]:
# sns.pairplot(df_raw, diag_kind='hist')
# plt.show()

In [12]:
# sns.pairplot(df_raw,
#             diag_kind = 'kde',
#             hue = 'SCALE',
#             palette='bright')
# plt.show()

In [13]:
df_raw.head()

,PLATE_NO,ROLLING_DATE,SCALE,SPEC,STEEL_KIND,PT_THK,PT_WDTH,PT_LTH,PT_WGT,FUR_NO,...,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,FUR_EXTEMP,ROLLING_TEMP_T5,HSB,ROLLING_DESCALING,WORK_GR
0,PB562774,2008-08-01:00:00:15,양품,AB/EH32-TM,T1,32.25,3707,15109,14180,1호기,...,1144,116,1133,59,282,1133,934,적용,8,2조
1,PB562775,2008-08-01:00:00:16,양품,AB/EH32-TM,T1,32.25,3707,15109,14180,1호기,...,1144,122,1135,53,283,1135,937,적용,8,2조
2,PB562776,2008-08-01:00:00:59,양품,NV-E36-TM,T8,33.27,3619,19181,18130,2호기,...,1129,116,1121,55,282,1121,889,적용,8,3조
3,PB562777,2008-08-01:00:01:24,양품,NV-E36-TM,T8,33.27,3619,19181,18130,2호기,...,1152,125,1127,68,316,1127,885,적용,8,3조
4,PB562778,2008-08-01:00:01:44,양품,BV-EH36-TM,T8,38.33,3098,13334,12430,3호기,...,1140,134,1128,48,314,1128,873,적용,8,1조

In [14]:
df_raw.dtypes

PLATE_NO              object
ROLLING_DATE          object
SCALE                 object
SPEC                  object
STEEL_KIND            object
PT_THK               float64
PT_WDTH                int64
PT_LTH                 int64
PT_WGT                 int64
FUR_NO                object
FUR_NO_ROW             int64
FUR_HZ_TEMP            int64
FUR_HZ_TIME            int64
FUR_SZ_TEMP            int64
FUR_SZ_TIME            int64
FUR_TIME               int64
FUR_EXTEMP             int64
ROLLING_TEMP_T5        int64
HSB                   object
ROLLING_DESCALING      int64
WORK_GR               object
dtype: object

In [15]:
df_raw['PLATE_NO'].unique()
df_raw['STEEL_KIND'].unique()
df_raw['SPEC'].unique()
df_raw['FUR_NO'].unique()
df_raw['HSB'].unique()
df_raw['WORK_GR'].unique()
df_raw['ROLLING_DATE'].unique()

array(['2008-08-01:00:00:15', '2008-08-01:00:00:16',
       '2008-08-01:00:00:59', '2008-08-01:00:01:24',
       '2008-08-01:00:01:44', '2008-08-01:00:02:06',
       '2008-08-01:00:02:28', '2008-08-01:00:02:21',
       '2008-08-01:00:02:51', '2008-08-01:00:03:15',
       '2008-08-01:00:03:24', '2008-08-01:00:04:15',
       '2008-08-01:00:04:20', '2008-08-01:00:05:47',
       '2008-08-01:00:05:25', '2008-08-01:00:05:16',
       '2008-08-01:01:10:14', '2008-08-01:01:10:44',
       '2008-08-01:01:11:01', '2008-08-01:01:11:08',
       '2008-08-01:01:12:45', '2008-08-01:01:12:49',
       '2008-08-01:01:13:47', '2008-08-01:01:13:05',
       '2008-08-01:01:14:20', '2008-08-01:01:14:53',
       '2008-08-01:01:14:25', '2008-08-01:01:15:39',
       '2008-08-01:01:15:14', '2008-08-01:01:15:59',
       '2008-08-01:01:15:34', '2008-08-01:02:20:52',
       '2008-08-01:02:20:28', '2008-08-01:02:21:27',
       '2008-08-01:02:21:11', '2008-08-01:02:21:37',
       '2008-08-01:02:21:17', '2008-08-01:02:22:11',
       '2008-08-01:02:22:16', '2008-08-01:02:22:18',
       '2008-08-01:02:23:09', '2008-08-01:02:23:26',
       '2008-08-01:02:24:27', '2008-08-01:02:24:44',
       '2008-08-01:02:25:45', '2008-08-01:02:25:17',
       '2008-08-01:02:25:50', '2008-08-01:03:30:18',
       '2008-08-01:03:30:48', '2008-08-01:03:30:07',
       '2008-08-01:03:31:44', '2008-08-01:03:31:31',
       '2008-08-01:03:31:37', '2008-08-01:03:32:13',
       '2008-08-01:03:32:10', '2008-08-01:03:32:50',
       '2008-08-01:03:32:34', '2008-08-01:03:33:48',
       '2008-08-01:03:33:52', '2008-08-01:03:33:38',
       '2008-08-01:03:34:08', '2008-08-01:03:34:02',
       '2008-08-01:03:34:26', '2008-08-01:03:34:14',
       '2008-08-01:03:35:27', '2008-08-01:03:35:50',
       '2008-08-01:03:35:38', '2008-08-01:04:40:56',
       '2008-08-01:04:40:12', '2008-08-01:04:40:16',
       '2008-08-01:04:41:42', '2008-08-01:04:41:29',
       '2008-08-01:04:42:25', '2008-08-01:04:43:58',
       '2008-08-01:04:41:04', '2008-08-01:04:43:30',
       '2008-08-01:04:44:30', '2008-08-01:04:45:03',
       '2008-08-01:05:50:36', '2008-08-01:05:50:06',
       '2008-08-01:05:51:17', '2008-08-01:05:51:45',
       '2008-08-01:05:52:21', '2008-08-01:05:52:32',
       '2008-08-01:05:52:22', '2008-08-01:05:53:45',
       '2008-08-01:05:53:58', '2008-08-01:05:53:39',
       '2008-08-01:05:54:08', '2008-08-01:05:54:28',
       '2008-08-01:05:54:29', '2008-08-01:05:54:26',
       '2008-08-01:05:55:53', '2008-08-01:05:55:44',
       '2008-08-01:05:55:04', '2008-08-01:05:55:16',
       '2008-08-01:06:60:50', '2008-08-01:06:60:13',
       '2008-08-01:06:60:32', '2008-08-01:06:60:12',
       '2008-08-01:06:61:33', '2008-08-01:06:61:18',
       '2008-08-01:06:61:27', '2008-08-01:06:61:49',
       '2008-08-01:06:62:02', '2008-08-01:06:62:20',
       '2008-08-01:06:62:05', '2008-08-01:06:62:16',
       '2008-08-01:06:63:42', '2008-08-01:06:63:16',
       '2008-08-01:06:63:49', '2008-08-01:06:63:19',
       '2008-08-01:06:64:58', '2008-08-01:06:64:53',
       '2008-08-01:06:64:16', '2008-08-01:06:65:45',
       '2008-08-01:06:65:33', '2008-08-01:06:65:57',
       '2008-08-01:06:65:03', '2008-08-01:07:70:37',
       '2008-08-01:07:70:29', '2008-08-01:07:70:56',
       '2008-08-01:07:70:36', '2008-08-01:07:71:04',
       '2008-08-01:07:71:24', '2008-08-01:07:71:21',
       '2008-08-01:07:71:32', '2008-08-01:07:72:20',
       '2008-08-01:07:72:35', '2008-08-01:07:72:46',
       '2008-08-01:07:72:58', '2008-08-01:07:73:03',
       '2008-08-01:07:73:30', '2008-08-01:07:73:53',
       '2008-08-01:07:73:14', '2008-08-01:07:74:32',
       '2008-08-01:07:74:01', '2008-08-01:07:74:30',
       '2008-08-01:07:74:28', '2008-08-01:07:75:52',
       '2008-08-01:07:75:35', '2008-08-01:07:75:49',
       '2008-08-01:08:80:22', '2008-08-01:08:80:12',
       '2008-08-01:08:80:23', '2008-08-01:08:80:35',
       '2008-08-01:08:81:49', '2008-08-01:08:81:45',
       '2008-08-01:08:81:03', '2008-08-01:08:81:05',
       '2008-08-01:08:82:22', '2008-08-01:08:82:02',
       '2008-08-01:08:82:59', '2008-08-01:08:82:11',
       '2008-08-01:08:82:39', '2008-08-01:08:82:57',
       '2008-08-01:08:83:13', '2008-08-01:08:83:08',
       '2008-08-01:08:83:45', '2008-08-01:08:85:20',
       '2008-08-01:08:85:49', '2008-08-01:08:84:38',
       '2008-08-01:08:85:27', '2008-08-01:09:90:22',
       '2008-08-01:09:90:57', '2008-08-01:09:90:50',
       '2008-08-01:09:91:43', '2008-08-01:09:90:45',
       '2008-08-01:09:90:39', '2008-08-01:09:91:42',
       '2008-08-01:09:91:37', '2008-08-01:09:91:41',
       '2008-08-01:09:91:30', '2008-08-01:09:92:22',
       '2008-08-01:09:92:11', '2008-08-01:09:92:06',
       '2008-08-01:09:92:56', '2008-08-01:09:92:47',
       '2008-08-01:10:00:06', '2008-08-01:09:94:29',
       '2008-08-01:10:01:30', '2008-08-01:10:01:03',
       '2008-08-01:10:01:26', '2008-08-01:10:01:50',
       '2008-08-01:10:01:22', '2008-08-01:10:02:49',
       '2008-08-01:10:02:10', '2008-08-01:10:02:41',
       '2008-08-01:10:03:38', '2008-08-01:10:03:45',
       '2008-08-01:10:03:21', '2008-08-01:10:03:16',
       '2008-08-01:10:04:54', '2008-08-01:10:04:53',
       '2008-08-01:10:03:58', '2008-08-01:10:04:44',
       '2008-08-01:10:04:40', '2008-08-01:10:05:36',
       '2008-08-01:10:05:34', '2008-08-01:10:05:35',
       '2008-08-01:10:05:33', '2008-08-01:10:04:38',
       '2008-08-01:10:05:37', '2008-08-01:11:10:29',
       '2008-08-01:11:10:42', '2008-08-01:11:10:04',
       '2008-08-01:11:10:47', '2008-08-01:11:10:06',
       '2008-08-01:11:11:12', '2008-08-01:11:11:14',
       '2008-08-01:11:11:37', '2008-08-01:11:11:31',
       '2008-08-01:11:11:42', '2008-08-01:11:12:30',
       '2008-08-01:11:12:31', '2008-08-01:11:12:22',
       '2008-08-01:11:12:16', '2008-08-01:11:12:26',
       '2008-08-01:11:13:28', '2008-08-01:11:13:40',
       '2008-08-01:11:13:50', '2008-08-01:11:13:37',
       '2008-08-01:11:14:00', '2008-08-01:11:13:16',
       '2008-08-01:11:15:16', '2008-08-01:11:14:30',
       '2008-08-01:11:14:45', '2008-08-01:11:14:46',
       '2008-08-01:11:15:50', '2008-08-01:11:15:01',
       '2008-08-01:11:15:58', '2008-08-01:11:15:00',
       '2008-08-01:12:20:03', '2008-08-01:12:20:13',
       '2008-08-01:12:20:54', '2008-08-01:12:20:15',
       '2008-08-01:12:21:31', '2008-08-01:12:20:21',
       '2008-08-01:12:21:35', '2008-08-01:12:21:38',
       '2008-08-01:12:21:02', '2008-08-01:12:22:05',
       '2008-08-01:12:22:13', '2008-08-01:12:22:27',
       '2008-08-01:12:22:35', '2008-08-01:12:23:20',
       '2008-08-01:12:23:30', '2008-08-01:12:23:45',
       '2008-08-01:12:23:37', '2008-08-01:12:23:13',
       '2008-08-01:12:24:37', '2008-08-01:12:24:05',
       '2008-08-01:12:24:26', '2008-08-01:12:25:10',
       '2008-08-01:12:25:30', '2008-08-01:12:24:16',
       '2008-08-01:12:25:57', '2008-08-01:12:25:52',
       '2008-08-01:13:30:18', '2008-08-01:13:30:38',
       '2008-08-01:13:30:10', '2008-08-01:13:30:01',
       '2008-08-01:13:31:18', '2008-08-01:13:31:02',
       '2008-08-01:13:31:21', '2008-08-01:13:31:49',
       '2008-08-01:13:32:17', '2008-08-01:13:32:01',
       '2008-08-01:13:32:23', '2008-08-01:13:32:34',
       '2008-08-01:13:33:45', '2008-08-01:13:33:55',
       '2008-08-01:13:33:12', '2008-08-01:13:33:32',
       '2008-08-01:13:34:09', '2008-08-01:13:34:31',
       '2008-08-01:13:34:24', '2008-08-01:13:35:15',
       '2008-08-01:13:35:36', '2008-08-01:13:35:44',
       '2008-08-01:13:35:31', '2008-08-01:13:35:35',
       '2008-08-01:14:40:22', '2008-08-01:14:40:54',
       '2008-08-01:14:40:56', '2008-08-01:14:40:02',
       '2008-08-01:14:41:43', '2008-08-01:14:41:40',
       '2008-08-01:14:41:02', '2008-08-01:14:42:18',
       '2008-08-01:14:42:38', '2008-08-01:14:42:29',
       '2008-08-01:14:42:50', '2008-08-01:14:43:46',
       '2008-08-01:14:43:57', '2008-08-01:14:43:09',
       '2008-08-01:14:43:50', '2008-08-01:14:44:45',
       '2008-08-01:14:44:03', '2008-08-01:14:44:58',
       '2008-08-01:14:44:01', '2008-08-01:14:45:48',
       '2008-08-01:14:45:07', '2008-08-01:14:45:41',
       '2008-08-01:14:45:20', '2008-08-01:15:50:37',
       '2008-08-01:15:50:00', '2008-08-01:15:50:09',
       '2008-08-01:15:50:30', '2008-08-01:15:51:45',
       '2008-08-01:15:51:19', '2008-08-01:15:51:32',
       '2008-08-01:15:52:24', '2008-08-01:15:52:07',
       '2008-08-01:15:52:41', '2008-08-01:15:52:22',
       '2008-08-01:15:53:11', '2008-08-01:15:53:06',
       '2008-08-01:15:53:31', '2008-08-01:15:53:27',
       '2008-08-01:15:54:02', '2008-08-01:15:54:14',
       '2008-08-01:15:54:42', '2008-08-01:15:54:00',
       '2008-08-01:15:55:10', '2008-08-01:15:55:38',
       '2008-08-01:15:55:06', '2008-08-01:15:55:40',
       '2008-08-01:16:60:14', '2008-08-01:16:60:34',
       '2008-08-01:16:60:17', '2008-08-01:16:60:21',
       '2008-08-01:16:61:49', '2008-08-01:16:61:58',
       '2008-08-01:16:61:19', '2008-08-01:16:62:16',
       '2008-08-01:16:62:20', '2008-08-01:16:62:42',
       '2008-08-01:16:62:39', '2008-08-01:16:62:11',
       '2008-08-01:16:63:17', '2008-08-01:16:63:23',
       '2008-08-01:16:63:46', '2008-08-01:16:63:37',
       '2008-08-01:16:64:48', '2008-08-01:16:64:47',
       '2008-08-01:16:64:29', '2008-08-01:16:64:44',
       '2008-08-01:16:65:11', '2008-08-01:16:65:59',
       '2008-08-01:16:65:15', '2008-08-01:17:70:18',
       '2008-08-01:16:65:31', '2008-08-01:17:70:04',
       '2008-08-01:17:70:34', '2008-08-01:17:71:11',
       '2008-08-01:17:71:22', '2008-08-01:17:72:53',
       '2008-08-01:17:70:33', '2008-08-01:17:71:05',
       '2008-08-01:17:72:04', '2008-08-01:17:71:38',
       '2008-08-01:17:71:47', '2008-08-01:17:72:45',
       '2008-08-01:17:72:44', '2008-08-01:17:72:37',
       '2008-08-01:17:73:18', '2008-08-01:17:73:36',
       '2008-08-01:17:73:45', '2008-08-01:17:73:37',
       '2008-08-01:17:74:17', '2008-08-01:17:74:08',
       '2008-08-01:17:74:40', '2008-08-01:17:74:27',
       '2008-08-01:17:75:00', '2008-08-01:17:75:24',
       '2008-08-01:17:75:54', '2008-08-01:17:75:28',
       '2008-08-01:18:80:41', '2008-08-01:18:80:53',
       '2008-08-01:18:80:30', '2008-08-01:18:81:17',
       '2008-08-01:18:81:16', '2008-08-01:18:81:57',
       '2008-08-01:18:81:41', '2008-08-01:18:82:18',
       '2008-08-01:18:82:38', '2008-08-01:18:82:05',
       '2008-08-01:18:83:42', '2008-08-01:18:83:31',
       '2008-08-01:18:83:07', '2008-08-01:18:84:08',
       '2008-08-01:18:84:56', '2008-08-01:18:84:38',
       '2008-08-01:18:84:33', '2008-08-01:18:85:10',
       '2008-08-01:18:85:32', '2008-08-01:19:90:28',
       '2008-08-01:19:90:54', '2008-08-01:19:91:30',
       '2008-08-01:19:91:41', '2008-08-01:19:92:08',
       '2008-08-01:19:92:22', '2008-08-01:19:92:50',
       '2008-08-01:19:93:33', '2008-08-01:19:93:41',
       '2008-08-01:19:94:45', '2008-08-01:19:94:11',
       '2008-08-01:19:94:56', '2008-08-01:19:95:17',
       '2008-08-01:19:95:14', '2008-08-01:19:95:44',
       '2008-08-01:20:00:16', '2008-08-01:20:00:49',
       '2008-08-01:20:01:07', '2008-08-01:20:01:15',
       '2008-08-01:20:01:53', '2008-08-01:20:02:58',
       '2008-08-01:20:02:10', '2008-08-01:20:03:22',
       '2008-08-01:20:04:03', '2008-08-01:20:04:50',
       '2008-08-01:20:05:43', '2008-08-01:20:05:10',
       '2008-08-01:21:10:48', '2008-08-01:21:10:37',
       '2008-08-01:21:11:20', '2008-08-01:21:12:39',
       '2008-08-01:21:12:23', '2008-08-01:21:12:16',
       '2008-08-01:21:13:39', '2008-08-01:21:14:11',
       '2008-08-01:21:14:53', '2008-08-01:21:15:56',
       '2008-08-01:22:20:26', '2008-08-01:22:21:58',
       '2008-08-01:22:22:43', '2008-08-01:22:21:01',
       '2008-08-01:22:22:39', '2008-08-01:22:22:14',
       '2008-08-01:22:23:12', '2008-08-01:22:24:07',
       '2008-08-01:22:24:14', '2008-08-01:22:24:55',
       '2008-08-01:22:25:33', '2008-08-01:22:25:51',
       '2008-08-01:23:30:27', '2008-08-01:23:30:37',
       '2008-08-01:23:30:33', '2008-08-01:23:31:55',
       '2008-08-01:23:31:38', '2008-08-01:23:31:00',
       '2008-08-01:23:32:13', '2008-08-01:23:32:21',
       '2008-08-01:23:32:45', '2008-08-01:23:33:38',
       '2008-08-01:23:33:56', '2008-08-01:23:33:19',
       '2008-08-01:23:34:47', '2008-08-01:23:34:25',
       '2008-08-01:23:35:30', '2008-08-01:23:35:04',
       '2008-08-01:23:35:39', '2008-08-01:23:35:07',
       '2008-08-02:00:00:51', '2008-08-02:00:00:11',
       '2008-08-02:00:00:42', '2008-08-02:00:01:52',
       '2008-08-02:00:01:23', '2008-08-02:00:01:24',
       '2008-08-02:00:02:45', '2008-08-02:00:02:24',
       '2008-08-02:00:02:51', '2008-08-02:00:03:12',
       '2008-08-02:00:03:56', '2008-08-02:00:03:21',
       '2008-08-02:00:03:42', '2008-08-02:00:04:08',
       '2008-08-02:00:04:24', '2008-08-02:00:04:44',
       '2008-08-02:00:05:23', '2008-08-02:00:05:53',
       '2008-08-02:00:05:49', '2008-08-02:01:10:40',
       '2008-08-02:01:10:36', '2008-08-02:01:10:23',
       '2008-08-02:02:20:10', '2008-08-02:01:15:42',
       '2008-08-02:02:20:47', '2008-08-02:02:22:36',
       '2008-08-02:02:22:35', '2008-08-02:02:21:32',
       '2008-08-02:02:21:53', '2008-08-02:02:22:38',
       '2008-08-02:02:24:43', '2008-08-02:02:24:54',
       '2008-08-02:02:24:05', '2008-08-02:02:25:03',
       '2008-08-02:02:25:53', '2008-08-02:02:25:12',
       '2008-08-02:02:25:51', '2008-08-02:03:30:46',
       '2008-08-02:03:31:22', '2008-08-02:03:31:18',
       '2008-08-02:03:31:28', '2008-08-02:03:32:35',
       '2008-08-02:03:32:45', '2008-08-02:03:33:56',
       '2008-08-02:03:33:46', '2008-08-02:03:34:03',
       '2008-08-02:03:34:39', '2008-08-02:03:35:16',
       '2008-08-02:05:54:49', '2008-08-02:05:54:05',
       '2008-08-02:05:55:41', '2008-08-02:05:55:17',
       '2008-08-02:05:55:51', '2008-08-02:06:60:18',
       '2008-08-02:06:60:22', '2008-08-02:06:61:23',
       '2008-08-02:06:61:04', '2008-08-02:06:61:21',
       '2008-08-02:06:61:39', '2008-08-02:06:62:07',
       '2008-08-02:06:62:46', '2008-08-02:06:62:08',
       '2008-08-02:06:62:32', '2008-08-02:06:63:01',
       '2008-08-02:06:63:28', '2008-08-02:06:63:18',
       '2008-08-02:06:63:44', '2008-08-02:06:64:58',
       '2008-08-02:06:64:04', '2008-08-02:06:64:18',
       '2008-08-02:06:65:20', '2008-08-02:06:65:46',
       '2008-08-02:06:65:11', '2008-08-02:06:65:42',
       '2008-08-02:07:70:26', '2008-08-02:07:70:38',
       '2008-08-02:07:70:36', '2008-08-02:07:70:22',
       '2008-08-02:07:71:13', '2008-08-02:07:71:31',
       '2008-08-02:07:71:12', '2008-08-02:07:72:16',
       '2008-08-02:07:71:03', '2008-08-02:07:72:44',
       '2008-08-02:07:72:09', '2008-08-02:07:73:29',
       '2008-08-02:07:73:47', '2008-08-02:07:73:14',
       '2008-08-02:07:73:44', '2008-08-02:07:74:13',
       '2008-08-02:07:74:39', '2008-08-02:07:74:31',
       '2008-08-02:07:74:32', '2008-08-02:07:75:54',
       '2008-08-02:07:75:32', '2008-08-02:07:75:02',
       '2008-08-02:07:75:16', '2008-08-02:07:75:14',
       '2008-08-02:08:80:45', '2008-08-02:08:80:05',
       '2008-08-02:08:80:24', '2008-08-02:08:80:38',
       '2008-08-02:08:81:50', '2008-08-02:08:81:00',
       '2008-08-02:08:81:53', '2008-08-02:08:81:21',
       '2008-08-02:08:81:33', '2008-08-02:08:82:08',
       '2008-08-02:08:82:51', '2008-08-02:08:82:11',
       '2008-08-02:08:83:15', '2008-08-02:08:83:39',
       '2008-08-02:08:83:02', '2008-08-02:08:84:00',
       '2008-08-02:08:84:44', '2008-08-02:08:84:18',
       '2008-08-02:08:84:54', '2008-08-02:08:85:13',
       '2008-08-02:08:85:41', '2008-08-02:08:85:54',
       '2008-08-02:08:85:43', '2008-08-02:09:90:04',
       '2008-08-02:09:90:13', '2008-08-02:09:90:06',
       '2008-08-02:09:92:56', '2008-08-02:09:92:41',
       '2008-08-02:09:92:29', '2008-08-02:09:93:01',
       '2008-08-02:09:93:10', '2008-08-02:09:93:08',
       '2008-08-02:09:93:58', '2008-08-02:09:93:18',
       '2008-08-02:09:94:46', '2008-08-02:09:94:36',
       '2008-08-02:09:94:19', '2008-08-02:09:94:08',
       '2008-08-02:09:94:00', '2008-08-02:09:94:51',
       '2008-08-02:09:95:40', '2008-08-02:09:95:30',
       '2008-08-02:09:95:20', '2008-08-02:09:95:19',
       '2008-08-02:09:95:13', '2008-08-02:10:00:16',
       '2008-08-02:10:00:37', '2008-08-02:10:00:18',
       '2008-08-02:10:00:25', '2008-08-02:10:01:47',
       '2008-08-02:10:01:20', '2008-08-02:10:01:49',
       '2008-08-02:10:01:16', '2008-08-02:10:02:54',
       '2008-08-02:10:02:14', '2008-08-02:10:02:27',
       '2008-08-02:10:02:57', '2008-08-02:10:03:54',
       '2008-08-02:10:03:13', '2008-08-02:10:03:27',
       '2008-08-02:10:03:29', '2008-08-02:10:04:32',
       '2008-08-02:10:04:28', '2008-08-02:10:04:00',
       '2008-08-02:10:04:27', '2008-08-02:10:04:06',
       '2008-08-02:10:05:55', '2008-08-02:10:05:27',
       '2008-08-02:10:05:41', '2008-08-02:11:10:15',
       '2008-08-02:11:10:48', '2008-08-02:11:10:20',
       '2008-08-02:11:10:40', '2008-08-02:11:11:21',
       '2008-08-02:11:11:44', '2008-08-02:11:11:11',
       '2008-08-02:11:11:33', '2008-08-02:11:12:03',
       '2008-08-02:11:12:30', '2008-08-02:11:12:59',
       '2008-08-02:11:12:33', '2008-08-02:11:12:31',
       '2008-08-02:11:13:34', '2008-08-02:11:13:16',
       '2008-08-02:11:13:09', '2008-08-02:11:13:04',
       '2008-08-02:11:13:48', '2008-08-02:11:14:47',
       '2008-08-02:11:14:39', '2008-08-02:11:14:33',
       '2008-08-02:11:14:43', '2008-08-02:11:14:05',
       '2008-08-02:11:15:43', '2008-08-02:11:15:44',
       '2008-08-02:11:15:58', '2008-08-02:11:15:52',
       '2008-08-02:11:15:57', '2008-08-02:12:20:11',
       '2008-08-02:12:20:07', '2008-08-02:12:20:43',
       '2008-08-02:12:20:34', '2008-08-02:12:20:20',
       '2008-08-02:12:22:25', '2008-08-02:12:22:48',
       '2008-08-02:12:21:06', '2008-08-02:12:21:29',
       '2008-08-02:12:22:13', '2008-08-02:12:23:57',
       '2008-08-02:12:23:11', '2008-08-02:12:23:29',
       '2008-08-02:12:23:51', '2008-08-02:12:24:29',
       '2008-08-02:12:24:53', '2008-08-02:12:24:54',
       '2008-08-02:12:24:12', '2008-08-02:12:25:26',
       '2008-08-02:12:25:51', '2008-08-02:12:25:42',
       '2008-08-02:12:25:02', '2008-08-02:13:30:39',
       '2008-08-02:13:30:47', '2008-08-02:13:30:03',
       '2008-08-02:13:31:39', '2008-08-02:13:31:03',
       '2008-08-02:13:31:36', '2008-08-02:13:33:09',
       '2008-08-02:13:33:44', '2008-08-02:13:32:27',
       '2008-08-02:13:32:00', '2008-08-02:13:33:26',
       '2008-08-02:13:33:52', '2008-08-02:13:34:15',
       '2008-08-02:13:34:44', '2008-08-02:13:34:16',
       '2008-08-02:13:34:32', '2008-08-02:13:35:24',
       '2008-08-02:14:40:33', '2008-08-02:13:35:36',
       '2008-08-02:13:35:02', '2008-08-02:14:40:00',
       '2008-08-02:13:35:19', '2008-08-02:14:40:53'], dtype=object)

In [16]:
df_raw_y = df_raw['SCALE']
df_raw_x = df_raw.drop(["SCALE",'SPEC','PLATE_NO','STEEL_KIND','ROLLING_DATE'], axis = 1, inplace = False)
df_raw_x.head()

,PT_THK,PT_WDTH,PT_LTH,PT_WGT,FUR_NO,FUR_NO_ROW,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,FUR_EXTEMP,ROLLING_TEMP_T5,HSB,ROLLING_DESCALING,WORK_GR
0,32.25,3707,15109,14180,1호기,1,1144,116,1133,59,282,1133,934,적용,8,2조
1,32.25,3707,15109,14180,1호기,2,1144,122,1135,53,283,1135,937,적용,8,2조
2,33.27,3619,19181,18130,2호기,1,1129,116,1121,55,282,1121,889,적용,8,3조
3,33.27,3619,19181,18130,2호기,2,1152,125,1127,68,316,1127,885,적용,8,3조
4,38.33,3098,13334,12430,3호기,1,1140,134,1128,48,314,1128,873,적용,8,1조

In [17]:
df_raw_dummy = pd.get_dummies(df_raw_x)
df_raw_dummy.head()

,PT_THK,PT_WDTH,PT_LTH,PT_WGT,FUR_NO_ROW,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,...,ROLLING_DESCALING,FUR_NO_1호기,FUR_NO_2호기,FUR_NO_3호기,HSB_미적용,HSB_적용,WORK_GR_1조,WORK_GR_2조,WORK_GR_3조,WORK_GR_4조
0,32.25,3707,15109,14180,1,1144,116,1133,59,282,...,8,1,0,0,0,1,0,1,0,0
1,32.25,3707,15109,14180,2,1144,122,1135,53,283,...,8,1,0,0,0,1,0,1,0,0
2,33.27,3619,19181,18130,1,1129,116,1121,55,282,...,8,0,1,0,0,1,0,0,1,0
3,33.27,3619,19181,18130,2,1152,125,1127,68,316,...,8,0,1,0,0,1,0,0,1,0
4,38.33,3098,13334,12430,1,1140,134,1128,48,314,...,8,0,0,1,0,1,1,0,0,0

In [23]:
df_raw_y = df_raw['SCALE']
df_raw_y = pd.get_dummies(df_raw_y)
df_raw_y.head()

   불량  양품
0   0   1
1   0   1
2   0   1
3   0   1
4   0   1

In [19]:
df_raw_x = df_raw_dummy
df_raw_x.head()

,PT_THK,PT_WDTH,PT_LTH,PT_WGT,FUR_NO_ROW,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,...,ROLLING_DESCALING,FUR_NO_1호기,FUR_NO_2호기,FUR_NO_3호기,HSB_미적용,HSB_적용,WORK_GR_1조,WORK_GR_2조,WORK_GR_3조,WORK_GR_4조
0,32.25,3707,15109,14180,1,1144,116,1133,59,282,...,8,1,0,0,0,1,0,1,0,0
1,32.25,3707,15109,14180,2,1144,122,1135,53,283,...,8,1,0,0,0,1,0,1,0,0
2,33.27,3619,19181,18130,1,1129,116,1121,55,282,...,8,0,1,0,0,1,0,0,1,0
3,33.27,3619,19181,18130,2,1152,125,1127,68,316,...,8,0,1,0,0,1,0,0,1,0
4,38.33,3098,13334,12430,1,1140,134,1128,48,314,...,8,0,0,1,0,1,1,0,0,0

In [24]:
df_raw.shape

(720, 21)

In [20]:
df_train_x, df_test_x, df_train_y, df_test_y = train_test_split(df_raw_x, df_raw_y
                                                               , test_size = 0.3, random_state = 1234)
print('train data X size : {}'.format(df_train_x.shape))
print('train data Y size : {}'.format(df_train_y.shape))
print('test data X size : {}'.format(df_test_x.shape))
print('test data Y size : {}'.format(df_test_y.shape))

train data X size : (504, 22)
train data Y size : (504, 2)
test data X size : (216, 22)
test data Y size : (216, 2)

In [21]:
lr = LinearRegression()
lr.fit(df_train_x, df_train_y)
pred_x = lr.predict(df_test_x)

print('<LinearRegression>')
print('Score on trainning set : {:.3f}'.format(lr.score(df_train_x, df_train_y)))
print('Score on test set : {:.3f}'.format(lr.score(df_test_x, df_test_y)))
print('mse : {:.3f}'.format(mean_squared_error(df_test_y, pred_x)))
print('mae : {:.3f}'.format(mean_absolute_error(df_test_y, pred_x)))

<LinearRegression>
Score on trainning set : 0.483
Score on test set : 0.446
mse : 0.122
mae : 0.291