## Inferencial Statistics, 추론통계

In [33]:
import numpy as np
import scipy.stats as sp
from scipy import stats
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

In [34]:
ds_example = pd.read_csv("../Bigdata/data/EXH_QC.csv", engine = "python")
ds_example.head()

     Flaws Period  Strength  Baking Time  Cabbage weight
0  Scratch    Day      37.6     0.798922             3.6
1  Scratch    Day      38.6     0.849020             2.9
2     Peel    Day      37.2     0.816163             2.8
3     Peel    Day      36.4     0.758266             2.6
4   Smudge    Day      38.6     0.815894             3.4

In [35]:
df = ds_example[['Cabbage weight']].copy()
df.head()

   Cabbage weight
0             3.6
1             2.9
2             2.8
3             2.6
4             3.4

In [43]:
lower, upper = stats.norm.interval(0.95, loc =  2.7, scale = 0.397/np.sqrt(40))
print("신뢰구간 : ({},{})".format(lower.round(2), upper.round(2)))

lower, upper = stats.norm.interval(0.95, loc =  df.mean(), scale = stats.sem(df))
print("신뢰구간 : ({},{})".format(lower.round(2), upper.round(2)))

신뢰구간 : (2.58,2.82)
신뢰구간 : ([2.57],[2.82])

---

In [37]:
df2 = pd.DataFrame({'감자무게':[18,18,20,21,20,23,19,18,17,21,22,20,20,21,20,19,19,18,17,19]})
lower, upper = stats.norm.interval(0.95, loc = df2.mean(), scale = stats.sem(df2))
print("신뢰구간 : ({},{})".format(lower.round(2), upper.round(2)))

신뢰구간 : ([18.8],[20.2])

---

In [38]:
df3 = pd.DataFrame({'sample':[54.1,53.3,56.1,55.7,54.0,54.1,54.5,57.1,55.2,53.8,54.1,54.1,56.1,55.0,55.9,56.0,54.9,54.3,53.9,55.0]})
df3.head()

   sample
0    54.1
1    53.3
2    56.1
3    55.7
4    54.0

In [39]:
lower, upper = stats.t.interval(0.95, len(df3)-1, loc = np.mean(df3), scale = stats.sem(df3))
print("신뢰구간 : ({}, {})".format(lower.round(2), upper.round(2)))

신뢰구간 : ([54.39], [55.33])

---

In [40]:
df4 = pd.DataFrame({'product' : [73,71,74,69,70,73,70,68,75,72,70,72,73,70,70,72,71,70,75,72]})
df4.head()

   product
0       73
1       71
2       74
3       69
4       70

In [41]:
lower, upper = stats.t.interval(0.95, len(df4)-1, loc = np.mean(df4), scale = stats.sem(df4))
print("신뢰구간 : ({}, {})".format(lower.round(2), upper.round(2)))

신뢰구간 : ([70.6], [72.4])